@font-face {
    font-family: 'Franklin Gothic';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/fonts-archive-franklin-gothic/FranklinGothic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-franklin-gothic/FranklinGothic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-franklin-gothic/FranklinGothic.ttf') format('truetype');
}
@font-face {
    font-family: 'Franklin Gothic';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/npm/fonts-archive-franklin-gothic/FranklinGothicItalic.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-franklin-gothic/FranklinGothicItalic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/npm/fonts-archive-franklin-gothic/FranklinGothicItalic.ttf') format('truetype');
}
